<%= simple_form_for @contact, url: home_index_path, remote: true do |f| %>
  <div>
      <%= f.input  :name, required: true, placeholder: "Alan Turing", class: "contact-form-text-area form-control" %></br>

      <%= f.input :email, required: true, placeholder: "alan@turing.com", class: "contact-form-text-area form-control" %></br>

    <%= f.input :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                      placeholder: "..."%></br>

    <div class= "hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>

    <%= f.submit 'Send Message', class: 'btn btn-light form-control' %>
  </div>
<% end %>
